RewriteEngine On

RewriteRule ^max/([^/]*)$ /main.php?max=$1 [L]

RewriteCond %{THE_REQUEST} POST
RewriteRule ^login$ /login.php [L]

RewriteCond %{THE_REQUEST} POST
RewriteRule ^logout$ /logout.php [L]

RewriteCond %{THE_REQUEST} POST
RewriteRule ^users/(\d+)/consumption$ /logConsumption.php?id=$1 [L]

RewriteCond %{THE_REQUEST} GET
RewriteRule ^devices/(.+)$ /getDevice.php?id=$1 [L]

RewriteCond %{THE_REQUEST} GET
RewriteRule ^users$ /users.php [L]

RewriteCond %{THE_REQUEST} GET
RewriteRule ^users/(\d+)$ /getUser.php?id=$1 [L]

RewriteCond %{THE_REQUEST} POST
RewriteRule ^users$ /register.php [L]

RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule php - [F,L]
RewriteRule db - [F,L]
